body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.BankAttr {
  background-color: aquamarine;
  width: 120px;
  }
.BankAttr1{
  background-color: purple;
  width:120px;
}
  
